<%= link_to_remote 'Hide Details', :url => {:controller => 'meeting', :action => 'hide_details', 
								   :meeting_id => meeting.id}, :html => {:id => "hide_details_for_meeting_#{meeting.id}"} %>
								